{% extends 'layout/view.twig' %}

{% block header %}
    {% if config.useLocalAssets %}
        <script src="/assets/socket.io.min.js"></script>
        <script src="/assets/webfont.js"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    {% endif %}
{% endblock %}

{% block body %}

    <canvas id="c" width="1920" height="1080" style="position: fixed; z-index: 3;"></canvas>

    <div id="bg" style="display: none;">
        <img id="bgimg" class="fsimage" src="" />
    </div>
    <video muted loop autoplay id="bgvid" poster="" style="display: none;">

    </video>

    <script>
        let socket = io.connect("{{ config.serverUrl }}/admin-{{ displayId }}");
        let socketId = encodeURIComponent("{{ socketId }}");
    </script>
    <script src="/js/preview.js"></script>
{% endblock %}

{% block afterbody %}
    <div class="ui basic modal">
        <div class="content">
            <div class="ui basic center aligned segment">
                <button class="ui button" onclick="override()">Override</button>
            </div>
        </div>
    </div>
{% endblock %}