body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background: #1B1C1D;
}

html {
    min-height: 100%;
}

iframe {
    border: 1px solid black;
}

#edit {
    border: 1px solid #0f0f10;
    padding: 0;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#networkstatus {
    position: absolute;
    z-index: 10;
    top: 1vw;
    right: 1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    opacity: 0;
}

#time {
    position: absolute;
    z-index: 10;
    bottom: 2vw;
    right: 3vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 5vw;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: right;
}

#time2 {
    position: absolute;
    z-index: 10;
    bottom: 2vw;
    right: 3vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 5vw;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: right;
}

#bgvid, #bg, canvas, .fsimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bgvid, #bg {
    z-index: 0;
}

#bgvid2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#matchsize {
    position: absolute;
}

#blackoutLayer {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: black;
}

#helperLayer {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    background: white;
}

.slides .ui.item {
    padding: 0.5rem;
    margin: 3px 0;
    box-shadow: none;
}

.slides .ui.green.message {
    background: #08200b;
    border: 1px solid black;
}

.slides .ui.red.message {
    background: #200c0c;
}

.nopadded {
    padding: 0 !important;
    margin: 0 !important;
}

#preview {
    overflow: hidden;
}

.indexIcon {
    opacity: 0;
}

.gpu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.opacity {
    -moz-transition: opacity 2s !important;
    -webkit-transition: opacity 2s !important;
    -o-transition: opacity 2s !important;
    transition: opacity 2s !important;
}

#slider {
    position: fixed;
    z-index: 1;
}

.web {
    transform: scale(1.0);
    transform-origin: 50% 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background: none;
    opacity: 0;
}

@-webkit-keyframes announce {
    from,
    50% {
        opacity: 1;
    }

    25%,
    75%,
    to {
        opacity: 0;
    }
}

@keyframes announce {
    from,
    50% {
        opacity: 1;
    }

    25%,
    75%,
    to {
        opacity: 0;
    }
}

.announce {
    -webkit-animation-name: announce;
    animation-name: announce;
}

canvas {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    font-smooth: always;
}
