<!DOCTYPE html>
<html>
<head>
    <title>InfoScreen3 - Admin</title>

    {% include "assets.twig" %}
    {% block header %}{% endblock %}
</head>
<body>
<div class="ui fluid container">
    {% block body %}{% endblock %}
</div>
{% block afterbody %}{% endblock %}
</body>
</html>
