<!DOCTYPE html>
<html lang="">
<head>
    <title>InfoScreen3 - Admin</title>
    {% include "assets.twig" %}
    <script src="/js/filereader.js"></script>
    {% block header %}{% endblock %}
</head>
<body style="height: 100%;">
{% block body %}{% endblock %}
</body>
</html>
