<!DOCTYPE html>
<html>
<head>
    <title>InfoScreen</title>

    {% include "assets.twig" %}
    <script src="/js/filereader.js"></script>

    {% block header %}{% endblock %}
</head>
<body>
<div class="ui fluid container">
    {% block body %}{% endblock %}
</div>

</body>
</html>
