<!DOCTYPE html>
<html lang="">
<head>
    {% include "assets.twig" %}
    <style>
        html, body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            background: #000;
            height: 100vh;
        }
    </style>

    {% block header %}{% endblock %}
</head>
<body style="overflow: hidden;">
{% block body %}{% endblock %}
</body>
</html>
